# docker-compose.yml
version: '3'
services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: uvicorn fastapi_app:app --host 0.0.0.0
    deploy:
      replicas: 1
